* {
	box-sizing: border-box;
}

html,
body {
	background-color: #2ab189;
	text-align: center;
	font-family: "Comfortaa", cursive;
	min-width: 320px;
	margin: 0;
}

#header {
	font-size: 3.5em;
	font-weight: 900;
	color: black;
}

hr.style13 {
	height: 10px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 10px 10px -10px rgb(203, 154, 154) inset;
	width: 100%;
}

#title {
	font-size: 2em;
	font-weight: bold;
	margin: 20px 40% 0px auto;
	background-color: #114e60;
	color: #fefefa;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 180px;
	padding: 10px;
}

#form-paper {
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 40px;
	padding-bottom: 10px;
	border-radius: 15px;
	width: 30%;
	max-width: 1800px;
}

.container {
	position: relative;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px 0 30px 0;
}

input,
.btn {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
}

#submit_btn {
	background-color: #04aa6d;
	color: white;
	cursor: pointer;
}

input:hover,
.btn:hover {
	opacity: 1;
}

.fb {
	background-color: #3b5998;
	color: white;
}

.twitter {
	background-color: #55acee;
	color: white;
}

.google {
	background-color: #dd4b39;
	color: white;
}

input[type="submit"] {
	background-color: #04aa6d;
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.col {
	float: left;
	width: 50%;
	margin: auto;
	padding: 0 50px;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.vl {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border: 2px solid black;
	width: 2px;
	background-color: black;
	height: 175px;
}

.hide-md-lg {
	display: none;
}

.bottom-container {
	text-align: center;
	background-color: #666;
	margin-bottom: 40px;
	border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1420px) {
	#form-paper {
		width: 60%;
	}
}

@media screen and (max-width: 671px) {
	.col {
		width: 100%;
		margin-top: 0;
	}

	#title {
		margin: 20px 30% 0px auto;
	}

	.vl {
		display: none;
	}

	.hide-md-lg {
		display: block;
		text-align: center;
	}

	#form-paper {
		width: 90%;
	}
}
